/* .section {
    max-width: 1440px;
    margin: 0 auto;
} */






/* .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
} */

/* пункт контактів
.contacts-list .contacts-items:nth-child(1) .nav-info,
.contacts-list .contacts-items:nth-child(2) .nav-info {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



/* Ховер/фокус */
/* .nav-link:hover,
.nav-link:focus,
.nav-info:hover,
.nav-info:focus {
    color: #4d5ae5; */
/* наприклад синій при наведенні */

/* Перший пункт меню */
/* .nav-list .nav-items:first-child .nav-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
    color: #404bbf;
}

.nav-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



a {
    text-decoration: none;
    color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 56px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 12px;

}

img {
    display: block;
    max-width: 100%;
}

button:hover {
    background-color: #404BBF;
}




/* ______header settings______ */


/* header a:hover,
header a:focus {
    color: #404BBF;
} */

/* 
header a {
    color: #434455;
} */
/* 
.menu-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-height: 72px;

} */


/* .nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
} */





/* .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;

    border-radius: 2px;
    width: 48px;
    height: 4px;
} */


/* .contacts {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

} */

/* .contacts ul {
    display: flex;
    gap: 40px;
    align-items: center;
} */

.contacts-list {}

.contacts-items {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  top baner */
.top-banner {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 188px 0;
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.top-banner-h-one {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

/* .top-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
} */

/* button in top banner */
.button-order {
    background-color: #4D5AE5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:focus {
    background-color: #404bbf;

}

/* container four Strategy, Punctuality... */

.strategy {
    padding: 120px 0;
}

/* .strategy .container {
    display: flex;
    flex-direction: column;

} */

/* .strategy-list {
    display: flex;
    gap: 24px;
    /* padding: 120px 0; }*/


/* .strategy-line {
    width: calc((100% - 72px) / 4);

} */
/* 
.strategy-h-three {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
} */
/* 
.strategy .strategy-h-three {
    margin-bottom: 8px;
} */



.strategy-icon {}

/* .strategy-icon-container {
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 100%;
} */




/* Our team container */
/* .team-section {
    padding: 120px 0;
} */

/* .team-section .container {
    display: flex;
    flex-direction: column;

} */

/* .team-section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 72px;
} */

/* .team-section-list li {
    border-radius: 0 0 4px 4px;
} */

/* .team-section .team-section-h-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
} */


/* .team-container-text {
    padding: 32px 0;
    text-align: center;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.team-container-text h3 {
    margin-bottom: 8px;
} */

/* .team-section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
} */
/* 
.team-section {
    background-color: #f4f4FD;
} */

/* .team-section-h-second {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    
    text-transform: capitalize;
    color: #2E2F42;
} */

/* .team-section-line {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
} */

/* .team-section-line-one-h-thre {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
} */

/* links icons */
.team-container-icon {}

/* .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 8px 16px 0;
} */

.footeer-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 40px;
    height: 40px;
}

/* .social-link:hover,
.social-link:focus {
    background-color: #404bbf;
} */





.social-line {}


/* .icon-team {
    fill: #f4f4fd;
    width: 20px;
    height: 20px;
} */

/*text: Road to best  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* for section Portfoliol */

/* .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    cursor: pointer;
} */


/* .portfolio-list li {} */

/* .portfolio-line {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #E7E9FC;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-line:hover,
.portfolio-line:focus {

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    transform: translateY(0%);
} */

/* .image-container-portfolio {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
} */


/* .image-container-portfolio:hover .drop-up-portfolio {
    transform: translateY(0%);
} */

/* .drop-up-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
} */

/* .portfolio .team-section-h-second {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
    text-shadow: 2px 2px 4px #2e2f42;
    color: #2e2f42;
} */

/* .portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    height: 120px;
} */

/* .portfolio-container h3 {
    margin-bottom: 8px;
} */



/* ----------- FOOTER ------------ */

/* .footer-style {
    background-color: #2E2F42;
    color: white;
    padding: 100px;
    display: flex;
} */

/* .container-footer-logo {

    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-right: 120px;
} */

/* .container-footer {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
} */


/* .logo-footer {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.logo-footer span {
    color: #f4f4FD;
} */

/* .footer-p {
    line-height: 1.5;
    color: #f4f4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px;
} */


/* .social-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
} */

.social-list-link .social-line {}

/* .social-link {
    height: 40px;
} */

/* .footer-social .social-link:hover,
.footer-social .social-link:focus {
    background-color: #31D0AA;
} */

/* .footer-social .social-list-link {
    gap: 16px;
    padding: 0;
} */

.footer-social .social-link {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/*------ Modal window ------ */
.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* animation modal window */
.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-overlay {}

.close-btw-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btw-modal:hover,
.close-btw-modal:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

/* svg icon */
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: #ffffff;
}

.p-form-rop {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}



.molad-window {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.molad-window-icon-input {
    position: relative;
}

.label-user {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}



.input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.input-name:focus {
    border-color: #4D5AE5;
}

.svg-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.input-name:focus .svg-person {
    fill: #4D5AE5;
}






.send-btw-modal {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.container-send {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    margin: 0 auto;
}

.input-container {}

/* div comment */
.comment {
    margin-bottom: 16px;
}

.label-comment {}

.text-area {
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-area:focus {
    border-color: #4D5AE5;
}

.accept-container {
    margin-bottom: 24px;
}

/* input:checked+label>span */
.accept-input:checked+.label-comment>.span-comment {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.label-comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.priv-linkt {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.span-comment {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    /* space accep */
    margin-right: 8px;
}

.svg-accept {}

/* ------Footer form Subscribe------ */
/* .form-footer {
    display: flex;
    gap: 24px;
} */

.footer-label {}

.footer-form-subscribe {}

/* .footer-mail-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
} */
/* 
.footer-mail-input::placeholder {
    color: #ffffff;
} */

.footer-mail-input:focus {}



.footer-btw-form {
    border-radius: 4px;
    margin-left: 16px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    fill: #fff;
    cursor: pointer;

    border: none;
}

.subscribe-icon {
    margin-left: 16px;

}

/* When focus in line this change color icons */
/* input:focus+svg {
    fill: #4D5AE5;
} */


/* ------Media for mobile ----------- */

@media (min-width: 320px) {
    .body {}
}

@media (min-width: 768) {
    .body {}
}

@media (min-width: 1158px) {
    .body {}
}